*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{ clear: both;}
.text-white{
    color: aliceblue !important;
}
#main{}
#header{
    
    position: fixed;
    height: 46px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    
}
#nav{ display: inline-block;}

#nav li{
    display: inline-block;
    position: relative;
  
} 


#nav li a{
    color: aliceblue;
    text-decoration: none;
   line-height: 46px;
   padding: 0 24px;
   display: inline-block;
}

#nav li:hover a{
    color: black;
    background-color: gray;

}

#nav .subnav{
    position: absolute;
    background-color: white;
    display: block;
    display: none;
    
}

#nav .subnav li a {
    color: black;
}
#nav .subnav li:hover a {
    color: black;
    background-color: gray;
    
}
#nav .subnav a {
    color: #000000;
    padding: 0 12px;
    line-height: 38px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav {}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(chicago.jpg) top center / cover no-repeat;

}
#slider .text-content{
    color: aliceblue;
    left: 50%;
    bottom: 20%;
    text-align: center;
    

}
#slider .text-heading{ 
    font-weight: 500;
    font-size: 24px;
 }
#slider .text-description{
     font-size: 15px;

    margin-top: 25px;}
#content{}
    #content .content-section{
    width: 600px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    
    }
    #content .section-heading{ font-size: 30px;
    text-align: center; 
    font-weight: 500;
    }
    #content .section-sub-heading{
        text-align: center;
        font-size: 15px;
        color: darkgray;
        font-style: italic;
        margin-top: 25px;
    }
    #content .about-text{margin-top: 25px;
        font-size: 15px; 
        text-align: justify;
        line-height: 1.4;
    }
    #content .member-list{
        margin-top: 50px;
        overflow: hidden;
        
    }
    #content .member-item{
        float: left;
        width: 33.3333%;
        text-align: center;
        
    
    }
    #content .member-name{
        font-size: 15px;
        text-align: center;
    }
    #content .member-img{
        margin-top: 15px;
        border-radius: 5px;
        width: 154px;
    }
    .tour-section{
        background: black;
        color: aliceblue;
        height: 650px;
    }
    .tickets-list li { 
        background-color: aliceblue;
        color: black;
        padding: 10px;
        list-style-type: none;
        }
        .tickets-list .sold-out{ 
            background-color: crimson;
            color: aliceblue;
            margin-left: 30px;
        }
        .tickets-list .quantity{
            float: right;
            width: 24px;
            height: 24px;
            background-color: #000000;
            color: aliceblue;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            
        
        }
.places-list{
    margin-top: 32px;
}
.place-item{
    float: left;
    width: 33.33333%;
    padding:  8px;
    
    
}
.place-time{
    margin-top: 15px;


}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;

}
.places-img{
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;

    text-align: center;
    
}
.places-img:hover{
    opacity: 0.6;
}

.place-buy{
background-color: #000000;
padding: 2px;
color: aliceblue;
text-decoration: none;
text-align: center;
}
.place-body{
    background-color: aliceblue;
    color: #000000;
    font-size:15px ;
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 500;
    
    
}
.row{
    float: left;
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
    text-align: center;
}
.map img{
    width: 100%;
}
#footer{
    text-align: center;
    
}


